~$helperslides.pptx
.DS_Store
assignment_webapp/config.ini
assignment_webapp/config.ini
*.pyc
assignment_webapp/backconfig.ini
assignment_webapp/run.command
assignment_webapp/config.ini
.DS_Store
.DS_Store
