{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <h2 class="title">Profile</h2>
        <hr/>
        <a class="pure-button" href="{{url_for('change_password')}}">Change Password</a>
        <a class="pure-button" href="{{url_for('add_details')}}">Add Contact Details</a>
        <a class="pure-button" href="{{url_for('change_details')}}">Change Contact Details</a>



        <div>
            <table class ="styled">
                <thead>
                    <tr>
                        <td style="text-align: center">Contact Type</td>
                        <td>Contact Details</td>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in profile %}
                        <td style="text-align: center"> {{ instance.contact_type_name }}</td>
                        <td> {{ instance.contact_type_value }}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        
    </div>
</div>
{% include 'bottom.html' %}