{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <h2 class="title">Profile</h2>
        <hr/>
        <a class="pure-button" href="{{url_for('change_password')}}">Change Password</a>
        <a class="pure-button" href="{{url_for('add_details')}}">Add Contact Details</a>
        <div class="info-msg">
            <i class="fa fa-info-circle"></i>
            &nbsp;&nbsp;Click on a contact detail to change it.
        </div>

        <div>
            <table class ="styled">
                <thead>
                    <tr>
                        <td style="text-align: center">Contact Type</td>
                        <td>Contact Details</td>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in profile %}
                        <tr class="clickable-tr"
                        data-href="{{ url_for('change_details',
                        contact_type_id=instance.contact_type_id,
                        contact_type_value=instance.contact_type_value) }}">
                            <td style="text-align: center"> {{ instance.contact_type_name }}</td>
                            <td> {{ instance.contact_type_value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        
    </div>
</div>
{% include 'bottom.html' %}