{% include 'top.html' %}
<div class="content">
    <hr class="container details">
    <a class="pure-button">Change Password</a>
    <a class="pure-button">Change Contact Detail</a>
        <h1 class="title">Profile</h1>
    </div>
        <table class = "styled">
            <thead>
                <tr>
                    <td>Contact Detail</td>
                    <td>Contact Type</td>
                </tr>
            </thead>
            <tbody>
            {% for instance in profile %}
                <td> {{ instance.contact_type_value }}</td>
                <td> {{ instance.contact_type_name }}</td>
            {% endfor %}
            </tbody>
        </table>

    </div>


</div>
{% include 'bottom.html' %}